#site-social-icons {
  width: 15rem;
}
#content-inner h2 {
  padding-left: 1.2rem;
}
#content-inner h2:hover {
  padding-left: 1.3rem;
}
#sidebar .sidebar-toc__progress {
  color: #34c244;
}
#page-header .site-page::after {
  background-color: rgb(152, 228, 228);
}
